#esfera {	
	left:34%; 
	top:92%;
	position: absolute ;
	
}
.esfera{
	animation: animar 10s;
	animation: animar2 8s;
	
}



@keyframes animar{
	0%{left:34%; top:90%;}
	30%{left:34%; top:108%;}
	100%{left:34%; top:112%;}
}

@keyframes animar2{
	100%{left:34%; top:120%;}
	130%{left:34%; top:108%;}
	140%{left:34%; top:112%;}
	160%{left:34%; top:152%;}
}



/*para le numero*/
#direccion {	
	left:63.1%; 
	top:50%;
	position: absolute;
	
}
.direccion{
	animation: animar3 10s;
	animation: animar4 10s;
	
}



@keyframes animar3{
	0%{left:54%; top:10%;}
	30%{left:54%; top:108%;}
	100%{left:54%; top:112%;}
}

@keyframes animar4{
	100%{left:54%; top:120%;}
	130%{left:54%; top:108%;}
}