.article {
	width: 55%;
}

.aside {
	
	margin-top: -14.5%;
	background-color: #2c3970;
	width: 31%;
	margin-left: 64.6%;
	position: absolute;
	height: auto;
}

.decimal {
	width: 15%;
}

.escritura{
	display: none;
}

.escritura1{
	float: left;
	margin-left: 30%;
	margin-top: -14%;
	display: none;
}

.lectura{
	float: right;
	margin-top: -2%;
	margin-right: 38%;
	display: none;
}

.imgC {
	width: 30%;
}

